dist: xenial
language: csharp
solution: FlightAnalysis.sln
mono: none
dotnet: 2.2.104
script:
- dotnet restore
- dotnet test
- dotnet build
after_success:
- eval "$(ssh-agent -s)"
- chmod 600 deploy.key
- ssh-add deploy.key
- ssh-keyscan dokku.skyhop.org >> ~/.ssh/known_hosts
- git remote add deploy dokku@dokku.skyhop.org:memeeconomy
- git config --global push.default simple
- git push deploy master
before_install:
- openssl aes-256-cbc -K $encrypted_3c79a2d9c9d9_key -iv $encrypted_3c79a2d9c9d9_iv
  -in deploy.key.enc -out deploy.key -d
